:root {
  --bg-cards2: #444444;
  --transition-time: 0.4s;
  --transition-time-cards: 0.4s;
}

$cardTransition:0.4s;
$gradient: linear-gradient(to left bottom, #f2fedc, #f6fce0, #f9fbe5, #fbfaea, #fbf9f0);
$gradientTrans: linear-gradient(to left bottom, #ebeeff, #fce9fc, #ffe6ec, #ffe8d7, #ffefca);

.cardsStore {
  padding: 15px 10px;
  background-color: #fffffd;
  background-image: none;
  border-radius: 10px;
  height: 300px;
  min-width: 300px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all ease-out $cardTransition;

  h1 {
    position: sticky;
    font-weight: bold;
    top: 35%;
    font-size: 40px;
    transition: all ease-out $cardTransition $cardTransition;
  }

  &.actButt {
    cursor: pointer;
  }

  &.notSticky {
    h1 {
      position: relative;
    }
  }

  &.Trans {
    margin: 10px 50px;
    background-color: var(--bg-cards2);
    background-image: $gradientTrans;
    border-radius: 30px;
    height: 250px;
    min-width: 200px;
    width: auto;
    overflow-y: auto;
    transition: all ease-out $cardTransition;

    h1 {
      font-weight: bold;
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }

    &:hover,
    &:focus,
    &:active {
      background-position: 0% 100%;
      transition: all ease-out $cardTransition;
    }

  }

  .stuffCard {
    transform: scale(0);
    opacity: 0;
    transition: all ease-out $cardTransition,
      transform ease 0.1s $cardTransition;

    p {
      font-size: 20px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    background-image: $gradient;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: #f9fbe5;
    overflow-y: auto;
    transition: all ease-out $cardTransition;

    h1 {
      position: relative;
      top: 0;
      font-size: 24px;
      transition: all ease-out $cardTransition;
    }

    .stuffCard {
      transform: scale(1);
      opacity: 1;
      transition: all ease-out $cardTransition $cardTransition,
        transform ease 0.1s;
    }
  }
}

.popup {
  position: absolute;
  background-color: rgb(190, 38, 38);
  color: white;
  border-radius: 10px;
  text-align: left;
  z-index: 99;
  right: 10px;
  top: 10px;
  padding: 10px;
  height: auto;
  width: calc(100px + 10vw);
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.2s ease-in;

  button {
    font-size: 24px;
    color: white;
    z-index: 100;
    background-color: transparent;
    outline: none;
    border: none;


    span {
      z-index: 101;
    }
  }
}

.avatar {
  z-index: 100000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  overflow-y: scroll;
  display: none;
  opacity: 0;
  // backdrop-filter: blur(3px);

  p {
    font-size: 24px;
    color: rgb(255, 255, 255);
  }

  img {
    cursor: pointer;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &:active,
    &:focus,
    &:hover {
      padding: 3px;
      border: rgb(255, 118, 64) 3px solid;
      transition: all 0.2s ease-in-out;
    }
  }

}

$bg-btn:#fff74e;
$btn-animation-time:0.3s;

.button {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 70%;
  max-width: 300px;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 12px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: $bg-btn;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #000;
  transition: all $btn-animation-time ease-in-out;

  b {
    opacity: 0;
    position: absolute;
    display: flex;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
    transition: all $btn-animation-time ease-in-out;
  }

  &:hover {
    background-position: 100% 0;
    transform: scaleX(1.1);
    transition: all $btn-animation-time ease-in-out;

    b {
      opacity: 1;
      right: 30px;
      transition: all $btn-animation-time ease-in-out;
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
      transform: scaleX(1);
      transition: all $btn-animation-time ease-in-out;
    }
  }

}