<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- css -->
    <style>
        html,
        body {
            background-color: darkslategray;
            color: aliceblue;
        }
    </style>

    <!-- content -->
    <h1>Header</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quidem accusamus, voluptatum incidunt fugiat
        quibusdam iste omnis, impedit voluptas repellendus provident quis illum perspiciatis explicabo assumenda sit non
        expedita enim!</p>

    <!-- scrips -->
    <script></script>
</body>

</html>