<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{title}}</title>
  <link crossorigin="anonymous" rel="stylesheet" href="../static/css/pom.css" />
  <link crossorigin="anonymous" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <link crossorigin="anonymous" rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script crossorigin="anonymous" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
  </script>
  <script crossorigin="anonymous" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link crossorigin="anonymous" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

</head>

<body>
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-3 usercourse">
        Username: {{ username }}
      </div>
      <div class="col-3 "></div>
      <div class="col-3"></div>
      <div class="col-3 usercourse">
        <label for="course">Choose a Course:</label>
        <select class="selectpicker" onchange="postSearch()" name="course" id="course">
          {% for i in course%}
          <option value={{i}}>{{i}}</option>
          {%endfor%}
        </select>
      </div>
    </div>
  </div>


  <main class="app">
    <progress id="js-progress" value="0"></progress>
    <div class="progress-bar"></div>
    <div class="timer">
      <div class="button-group mode-buttons" id="js-mode-buttons">
        <button data-mode="pomodoro" class="button active mode-button" id="js-pomodoro">
          Pomodoro
        </button>
        <button data-mode="shortBreak" class="button mode-button" id="js-short-break">
          Short break
        </button>
        <button data-mode="longBreak" class="button mode-button" id="js-long-break">
          Long break
        </button>
      </div>
      <div class="clock" id="js-clock">
        <span id="js-minutes">25</span>
        <span class="separator">:</span>
        <span id="js-seconds">00</span>
      </div>
      <button class="main-button" data-action="start" id="js-btn">
        Start
      </button>
    </div>
  </main>

  <script>var CSRF_TOKEN = '{{ csrf_token }}';</script>
  <script crossorigin="anonymous" src="../static/js/pom.js"></script>
</body>

</html>